.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Header CSS */
.navbar {
  width: 100vw;
  background-color: #FFC017;
  padding: 0;
}

.head {
  width: 1192px;
}

/* ul.nav {
  display: flex;
  align-items: center;
} */

li.nav-item {
  margin-left: 25px;
  display: flex;
  align-items: center;
}

.get-started {
  background-color: black;
  color:  #FFC017;
  width: 104.09px;
  height: 38px;
  border-radius: 19px;
}


/* Banner CSS */

.banner {
  width: 100vw;
  background-color: #FFC017;
}


/* Trending CSS */

.trending {
  padding-left: 160px;
}

.sec-1 {
  display: flex;
  flex-direction: row;
}

.trending-card {
  width: 100vw;
}

.trndNum {
  font-size: 30px
}

.userImg {
  width: 20px;
  height: 20px;
  border-radius: 10px;
}

/* Modal Style */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50% );
  background-color: #FFF;
  padding: 50px;
  z-index: 10;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
}